@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="bg">
        <div class="login-container">
            <div class="login-box">
                <img src="https://student.openenglish.com/images/logo_black_lg.png" class="logo">
                <h2>Bienvenido Estudiante</h2>
                <form method="post" action="/Home/Index">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Inciar Sesion</button>
                    <div class="remember-me">
                        <label>
                            <input type="checkbox" name="rememberMe"> Recordar mis datos
                        </label>
                        <a href="#">Reestablecer contraseña</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</body>
</html>

